/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* Header Styles */
.site-header {
    background-color: #002868;
    color: white;
    text-align: center;
    padding: 20px;
}

.site-header h1 {
    margin: 0;
    font-size: 2.5em;
}

.site-header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

/* Main Text Style*/
main {
    padding: 20px;
}
